header {
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.icon-top-bar {
    display: flex;
    min-width: 100%;
    padding: 1rem 0;
    background-color: var(--color-secondary);
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;

}

.link-icons {
    color: var(--color-text-light);
    font-size: 1.5rem;

}

#icon-instagram {
    margin-right: 2rem;
}

#welcome-text {
    margin: 0 auto 0 2rem;
}

.logo-nav-container {
    display: flex;
}

.logo {
    color: black;
    font-size: 5rem;
    margin-left: 2rem;
}

nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-buttons {
    padding: 1rem 3rem;
    font-size: 2em;
    cursor: pointer;
    font-weight: var(--font-weight-heading);
    text-decoration: underline;
}

.nav-buttons:hover {
    background-color: var(--color-accent);
    color: var(--color-text-light);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.052);

}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    margin-top: 1rem;
    min-width: 100%;
    min-height: 100vh;
}

.hero-avatar {
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    border: 5px solid blanchedalmond;
    background-image: url(../assets/images/avatar.jpg);
    background-size: cover;
    background-size: 200%;
    background-position: 35% 60%;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
}

.hero-text-content {
    color: var(--color-text-light);
}

.hero-title {
    font-size: 3rem;
    font-family: var(--font-heading);
}

.hero-subtitle {
    font-size: 2em;
    margin-top: 1rem;
    font-weight: 400;
}

.hero-tagline {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-style: italic;
}

.hero-buttons {
    display: flex;
    margin-top: 1rem;
    gap: 1rem;
}

.btn {
    padding: 1rem 1.5rem;
    background-color: var(--color-accent);
    color: var(--color-text-light);
    border-radius: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    font-family: monospace;
    font-size: 1.5rem;
}

.btn:hover {
    background-color: var(--color-accent-dark);
    color: var(--color-text-light);
}

.btn-outline {
    background-color: transparent;
    border: 2px solid var(--color-accent);
    color: var(--color-text-light);
}

.btn-outline:hover {
    background-color: var(--color-accent);
    color: var(--color-text-light);
}

.about-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
    margin-top: 5rem;
    align-items: center;
    text-align: center;
    color: var(--color-text-dark);
    font-family: var(--font-body);
}

.section-title {
    font-family: var(--font-heading);
    font-weight: var(--font-weight-bold);
    font-size: 3rem;
    color: var(--color-secondary);
    margin-top: 5rem;

}

.about-description {
    margin-top: 3rem;
    font-size: 1.5rem;
    line-height: 2rem;
    color: var(--color-text-dark);

}

.work-field {
    display: grid;
    align-items: center;
    margin-top: 3rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;

}

.work-card {
    background-color: var(--color-secondary);
    padding: 0.5rem;
    border-radius: 10px;
    min-height: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: background-color 0.3s ease;
}

#tech-stack {
    /* padding: 40px 20px; */
    text-align: center;
}

.section-title {
    font-size: 2rem;
}

.tech-columns {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.tech-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    margin-top: 2rem;

}

.tech-group:last-child {
    border-bottom: none;
}

.tech-group h3 {
    font-size: 1.4rem;
    color: var(--color-secondary);
}

.icon-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;

}

.icon-group i,
.icon-group img.nextjs-icon {
    font-size: 4rem;
    margin: 0 0.5rem;
    cursor: pointer;
}

.to-projects {
    background-color: var(--color-accent);
    color: white;
    padding: 1rem 2rem;
    border-radius: 20px;
    font-size: 1.5em;
    font-family: var(--font-heading);
    margin-top: 2rem;
}

.to-projects:hover {
    background-color: var(--color-accent-dark);
    transform: scale(1.05);
    transition: all 0.3s ease;
}

#education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;

}

.edu-photo {
    background-image: url(../assets/images/education.jpg);
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: 2rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.edu-photo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    z-index: 1;
}

.edu-photo>* {
    position: relative;
    z-index: 2;
    padding: 1rem;
    line-height: 2rem;
}

.edu-photo-title {
    font-size: 3rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);

}

.education-intro {
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
    padding: 2rem;
}



.journey-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 3rem;
    text-align: center;
}


.timeline {
    margin-top: 2rem;
    max-width: 70%;
    display: grid;
    grid-template-columns: 1fr 3px 1fr;

}

.timeline-header-work,
.timeline-header-edu {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

.timeline-header-work {
    text-align: right;
    margin: 0 1rem 1rem 0;
    background-image: linear-gradient(90deg, var(--color-base), #ff882d9e);

}

.timeline-header-edu {
    text-align: left;
    margin: 0 0 1rem 1rem;
    background-image: linear-gradient(90deg, #ff882d9e, var(--color-base));

}

.timeline-middle {
    position: relative;
    background-color: var(--color-accent-dark);
}

.timeline-dot {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
    height: 1rem;
    background: var(--color-accent-dark);
    border-radius: 50%;
}

.timeline-component {
    margin: 0 1.25rem 1.25rem 1.25rem;
}

.timeline-date-right {
    text-align: right;
    font-weight: bold;
}

.timeline-date-left,
.timeline-header-edu {
    text-align: left;
    font-weight: bold;

}

.timeline-component-bg {
    padding: 1.5rem;
    background-color: rgba(177, 177, 177, 0.215);
    box-shadow: 0 0 5px rgb(0, 0, 0, 0.2);
    border-radius: 1.25rem;
    margin: 1.25rem;
}

.timeline-content {
    margin: 0.5rem 0;
    font-size: 1rem;
}

.timeline-dot-bottom {
    top: initial;
    bottom: 0;
}

.timeline-middle-last {
    background-color: var(--color-body);
}

.personality {
    width: 100%;
}

.personality-container {
    position: relative;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    border-radius: 5rem;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;

}

.personality-content {
    position: absolute;
    padding: 2rem 1rem;
    width: 80%;
    right: 1rem;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif, 'Arial Narrow', Arial, sans-serif;
    line-height: 1.5rem;
    text-align: justify;
    color: white;
    font-style: italic;
}

.personality-content strong {
    font-weight: 700;
    font-family: 'Lora', serif;
    /* color: rgb(255, 153, 0); */
    text-shadow: black 2px;

}

.hashtags {
    display: flex;
    flex-wrap: wrap;
    /* Added this for responsiveness */
    gap: 1rem;
    margin-top: 1.25rem;
    padding: 1rem;
    border-radius: 1rem;
}


.hashtags span {
    /* Added styles for individual hashtag boxes */
    background-color: #f0f0f0;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    color: var(--color-accent-dark);
}



.contact-form-container {
    width: 100%;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);

}

.contact-left {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: center;
}

.contact-left>* {
    margin-top: 1rem;
    margin: auto;
}

.contact-left-title {
    font-size: 2rem;

}

.contact-inputs {
    margin-top: 1rem;
    width: 100%;
    border-radius: 1rem;
    font-size: 1rem;
    padding: 1rem;
    font-family: var(--font-heading);
}

.contact-inputs-message {
    padding: 1rem;
    height: 20rem;
}

.contact-inputs:focus {
    border: 2px solid #0056b1;
}

.contact-inputs::placeholder {
    font-size: 1rem;
}

.contact-left button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 1rem;
    background-color: var(--color-accent);
    color: white;
    border: none;
}

.contact-left button:hover,
.contact-left button:focus {
    background-color: var(--color-accent-dark);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


footer {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #333;
    color: #f4f4f4;
    border-top: 5px solid #000;
    text-align: center;
}

footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1em;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #007bff;
}

footer p {
    font-size: 0.9em;
}

/* ==== MEDIA QUERY RESPONSIVE ==== */

@media (max-width: 767px) {
    .logo-nav-container {
        flex-direction: column;
        max-width: 100%;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    /* Nav */
    .nav-buttons {
        padding: 0.5rem 1rem;
        font-size: 1.2em;
        text-decoration: none;
    }

    nav {
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    #logo {
        display: none;
    }

    .icon-top-bar {
        height: 2.8rem;
    }

    #welcome-text {
        display: none;
    }

    /* Hero section */
    .hero {
        display: flex;
        flex-direction: column;
        background-color: var(--color-secondary);
        margin-top: 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
        min-height: 35rem;
    }

    .hero-avatar {
        width: 15rem;
        height: 15rem;
    }

    .btn-outline {
        display: none;
    }

    .hero-content {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
    }

    .hero-title {
        font-size: 2em;
    }

    .hero-subtitle {
        font-size: 1.3em;
    }

    .hero-tagline {
        font-size: 1em;
    }

    .btn {
        padding: 0.75rem;
        width: fit-content;
        font-family: monospace;
        margin: auto;
        font-size: 1rem;
    }

    /* About section */
    .about-section {
        margin: 0;
        padding: 2.5rem;
        min-height: 50rem;
    }

    .section-title {
        font-size: 2em;
        margin: 1rem 0 0 0;
    }

    .about-description {
        font-size: 1.2em;
        margin: 1.25rem 0;
    }

    #education {
        margin-top: 1rem;
    }

    .edu-photo {
        height: 40rem;
        padding: 0.625rem;
        width: 100%;
        margin-top: 1rem;
    }

    .edu-photo-title {
        text-align: center;
        font-size: 1.5em;
    }

    .education-intro {
        font-size: 1.2em;
        padding: 0.625rem 3.125rem;
    }

    /* Work section */
    .timeline-header {
        display: none;
    }

    .work-field {
        grid-template-columns: 1fr 1fr;
    }

    /* Tech columns */
    .tech-columns {
        gap: 1.25rem;
    }

    .tech-group {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .tech-group h3 {
        font-size: 1.2rem;
    }

    .icon-group i,
    .icon-group img.nextjs-icon {
        font-size: 2rem;
        /* width: 2.5rem;
        height: 2.5rem; */
    }

    /* Timeline */
    .timeline {
        display: block;
        padding: 0;
    }

    .timeline-header-work,
    .timeline-header-edu,
    .timeline-component,
    .timeline-date-left,
    .timeline-date-right {
        text-align: center !important;
        margin: 0.625rem 0;
    }

    .timeline-middle,
    .timeline-dot,
    .timeline-dot-bottom {
        display: none;
    }

    .timeline-component {
        width: auto;
    }

    .timeline-desc {
        line-height: 1.5em;
        font-size: 1em;
    }

    /* Personality section */
    .personality-container {
        flex-direction: column;
        height: 40rem;
        padding: 1.25rem;
        margin-top: 0;
        border-radius: 0;
    }

    .personality-content {
        font-size: 1.2rem;
        width: 100%;
        text-align: center;
        right: 0;
    }

    /* Hashtags */
    .hashtags {
        justify-content: center;
    }

    .hashtags span {
        font-size: 0.8em;
    }

    .contact-form {
        max-width: 100%;
    }

    /* Contact form */
    .contact-form-container {
        max-width: 100%;
        flex-direction: column;
        height: auto;
        padding: 0.625rem;
        margin: 1.25rem 0;
    }

    .contact-left-title {
        font-size: 1.5em;
    }

    .contact-inputs-message {
        height: 12.5rem;
    }

    .contact-inputs {
        margin: 0.5rem 0;
    }

    .contact-right {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .contact-right img {
        max-width: 50%;
        margin-top: 1rem;

    }
}