.icon-top-bar {
    width: 100%;
    height: 46px;
    background-color: var(--color-secondary);
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.link-icons {
    color: var(--color-text-light);
    font-size: 24px;
    margin: 0 10px;

}

#icon-instagram {
    margin-right: 20px;
}

nav {
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.nav-buttons {
    padding: 10px 50px;
    font-size: 1.5em;
    cursor: pointer;
    font-weight: var(--font-weight-heading);
    text-decoration: underline;
}

.nav-buttons:hover {
    background-color: var(--color-accent);
    color: var(--color-text-light);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.052);

}

#resume {
    margin: 0 20px;
    align-self: center;
    padding: 15px 15px;
    color: var(--color-text-light);
    border-radius: 10px;
    background-color: var(--color-accent);
    text-transform: uppercase;
    transition: box-shadow 0.4s ease;
}

#resume:hover {
    background-color: var(--color-accent-dark);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.052);
    font-weight: var(--font-weight-heading);


}

#welcome-text {
    margin-right: auto;
    margin-left: 20px;
}

main {
    display: flex;
    justify-content: center;

}

.hero {
    position: relative;
    background-color: var(--color-secondary);
    height: 80vh;
    width: 80vw;
    display: flex;
    padding: 50px;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

#avatar {
    position: absolute;
    right: 100px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    height: 60vh;
    z-index: 2;
    border: 5px solid blanchedalmond;
}

.hero-text {
    position: absolute;
    left: 50px;
    color: var(--color-text-light);
    z-index: 3;
    margin: 0;
    font-family: var(--font-heading);
    font-size: 50px;
    text-transform: uppercase;
    transform: translateY(120%);
}

#hero-text1 {
    font-weight: 700;
    top: 150px;

}

#hero-text2 {
    top: 220px;
    font-family: 'Courier New', Courier, monospace;

}

#hero-text3 {
    left: 110px;
    top: 270px;
    font-family: 'Courier New', Courier, monospace;
}